.loginMsg{
    position: relative;
    cursor: pointer;
    font-size: 1em;
    font-weight: 800;
    color: #010b40;
    overflow: hidden;
    background: linear-gradient(to right, midnightblue, midnightblue 50%, #010b40 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;  
  }
  
.loginMsg:hover {
    background-position: 0 100%;
}

.orange{
    color: white;
    background-color: orangered;
}

.linkItem {
    color: #FFF;
  }
.linkItem:hover {
    color: #FFF;
}